html, body
   background: #f0f0f0;
   height: 100%;

.top-menu
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background: rgb(217, 217, 217);
   z-index: 100;

#login_button
	margin: 10px 0px;

.ink-grid.content
   margin-top: 65px;
   margin-bottom: 10px;

.ink-navigation ul.menu.horizontal li.push-right
   float: right;

.list-view-list
   padding-left: 0;

.list-view-list li
   position: relative;
   background-color: #FFFFFF;
   padding: 5px;
   box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 2px 0px;
   min-height: 45px;

.masonry-item p
   margin-bottom: 0;

.masonry-item i
   position: absolute;
   top: 0;
   right: 0;
   margin-right: -10px;
   margin-top: -17px;
   color: #d3d3d3;
   cursor: pointer;

.masonry-item i:hover
   color: lightgreen;

.masonry-item.complete i
   color: green;

.masonry-item.complete p
   text-decoration: line-through;

.box
   border-radius: 4px;
   -webkit-box-shadow: 0 2px 3px 0 #dddddd;
   -moz-box-shadow: 0 2px 3px 0 #dddddd;
   box-shadow: 0 2px 3px 0 #dddddd;
   border: 1px solid #BBB;
   background-color: #FFF;
   padding: 1em;

.ink-form .control-group .control.prepend-button.append-button button
   border-color: rgb(191, 191, 191);
   border-radius: 0px;
   border-style: solid;
   border-width: 1px;

#todo_input
   border-right-width: 0;
   border-left-width: 0;

.fa.fa-search.fa-lg
   vertical-align: -5%;
